 <li class="list-group-item">
	{{burger_name}}



		{{#if devoured}}
		
		{{else}}
		<button type="button" class="change-devoured btn btn-outline-danger btn-block" data-id="{{id}}" data-newsleep="{{devoured}}">
			DEVOUR ME!</button>
			
			
			{{/if}}
	
	




</li>
