 <li class="list-group-item list-group-item-light">
	{{burger_name}}



		{{#if devoured}}
		
		{{else}}
		<button type="button" class="change-devoured btn btn-outline-warning btn-block" data-id="{{id}}" data-newsleep="{{devoured}}">
			DEVOUR ME!</button>
			
			
			{{/if}}
	
	




</li>
